body{
    text-align: center;
    font-family: Helvetica, sans-serif;   
}

h1{
    font-size: 42px;
}

/* Botões */

#buttons-container button{
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
}

/* Jogo */

#container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    margin: 15px auto 0 auto;
}

.box{
    height: 100px;
    border: 5px solid #000;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#block-1, #block-2, #block-3{
    border-top: none;
}
#block-1, #block-4, #block-7{
    border-left: none;
}
#block-7, #block-8, #block-9{
    border-bottom: none;
}
#block-3, #block-6, #block-9{
    border-right: none;
}

/* Símbolos */
.x{
    font-size: 65px;
    line-height: 100px;
    display: inline-block;
    color: red;
}

.o{
    width: 50px;
    height: 50px;
    border: 5px solid green;
    display: inline-block;
    border-radius: 50%;
    margin-top: 17px;
}

/*
    .hide{
        display:none !important;
    }
*/


/* Placar */

#scoreboard-container{
    font-weight: bold;
    margin: 30px auto 0 auto;
    font-size: 25px;
    position: relative;
}

.score-box{
    margin: 0 20px;
}

#x-scoreboard{
    color: red;
    margin-right: 3px;
}

#o-scoreboard{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid green;
    margin-right: 3px;
    border-radius: 50%;
}

/* MSG de vitória */

#message p{
    font-size: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #000;
    width: 500px;
    top: 150px;
    color: #FFF;
    padding: 20px;
    display: none;
}